<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stat Tracker</title>
</head>
<body>
  <h1>Product Order Stat Tracker</h1>
  <hr>
  <fieldset>
    <legend>Enter Product Statistics</legend>
    <form action="/activities" method="post">
      <input type="text" name="order" placeholder="Product Name">
      <br>
      <input type="text" name="date" placeholder="Ex. MM/DD/YYYY">
      <br>
      <button type="submit" name="button">Submit Stats</button>
    </form>
  </fieldset>
  <br>
  <fieldset>
    <legend>Previous Orders</legend>
    {{#stats}}
    <div>
      <ul>
        <li>Product: {{order}}</li>
        <li>Date Ordered: {{date}}</li>
        <li>Order ID: <a href="/activities/{{_id}}">{{_id}}</a></li>
      </ul>
    </div>
    {{/stats}}
  </fieldset>
</body>
</html>
