<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stat Tracker - Order Page</title>
</head>
<body>
  <fieldset>
    <legend>Order Page</legend>
    {{#stats}}
    <div>
      <ul>
        <li>Product: {{order}}</li>
        <li>Date Ordered: {{date}}</li>
        <li>Order ID: <a href="/activities/{{_id}}">{{_id}}</a></li>
        {{#details}}
        <li>Order Amount: {{orderAmount}}</li>
        <li>Ordered By: {{orderPerson}}</li>
        {{/details}}
      </ul>
      <form action="/update" method="post">
        <label for="newName">Updated Name:</label>
        <input type="text" name="newName">
        <br>
        <button type="submit" name="update" value={{_id}}>Update</button>
      </form>
      <form action="/delete" method="post">
        <button type="submit" name="delete" value={{_id}}>Delete</button>
      </form>
      <form action="/activities/{{_id}}/details" method="get">
        <button type="submit" name="details">View JSON</button>
      </form>
    </div>
  </fieldset>
  <fieldset>
    <legend>Order Details</legend>
    {{#details}}
    <h5>Order Details</h5>
    <ul>
      <li>Order Amount: {{orderAmount}}</li>
      <li>Ordered By: {{orderPerson}}</li>
    </ul>
    <br>
    <form action="/detail_delete" method="post">
      <button type="submit" name="deleteDetails" value={{_id}}>Delete Details</button>
    </form>
    {{/details}}

    {{^details}}
    <form action="/activities/{{_id}}/details" method="post">
      <label for="orderAmount">Order Amount:</label>
      <br>
      <input type="text" name="orderAmount">
      <br>
      <br>
      <label for="orderPerson">Ordered By:</label>
      <br>
      <input type="text" name="orderPerson">
      <br>
      <br>
      <button type="submit" name="details" value={{_id}}>Submit Details</button>
    </form>
    {{/details}}
  </fieldset>
    {{/stats}}
  <form action="/logout" method="post">
    <button type="submit" name="logout">Logout</button>
  </form>
</body>
</html>
